<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>Terapia TEA</title>
		<meta name="robots" content="index, follow">
		<link rel="shortcut icon" href="../../images/favicon_.png">
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
		
				<!-- Logo -->
					<h1 id="logo"><a href="../../index.html">"ESPA-Ser"</a></h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li>
								<a href="">Programas</a>
								<ul>
									<li>
										<a href="views/palabrearte.html">Palabre-Arte</a>
										<ul>
											<li><a href="../Programas/elartede.html">El arte de manejar tu mundo afectivo</a>
											</li>
											<li><a href="../Programas/elsabor.html">El sabor de los libros</a></li>
										</ul>
									</li>
									<li><a href="../Programas/nivesc.html">Nivelación Escolar</a></li>
									<li><a href="../Programas/acompadres.html">Acompañamiento a Padres</a></li>
									<li><a href="../Programas/profes.html">Profesionalización</a></li>
									<li><a href="../Programas/prox.html">Próximamente</a></li>
								</ul>
							</li>
							<li>
								<a href="">Servicios</a>
								<ul>
									<li><a href="../Servicios/atn_psico.html">Atención Psicológica</a></li>
									<li><a href="../Servicios/prob_apdz.html">Problemas de aprendizaje</a></li>
									<li><a href="../Servicios/ter_leng.html">Terapia de lenguaje</a></li>
									<li><a href="../Servicios/tdah.html">Terapia TDA-H <br> ¡Autocontrol!</a></li>
									<li><a href="../Servicios/tea.html">Terapia Trastorno del <br> espectro autista (TEA)</a></li>
									<li><a href="../Servicios/est_temp.html">Estimulación temprana <br> ¡Cuidemos su desarrollo!</a></li>
								</ul>
							</li>
							<li class="break"><a href="../nosotros.html">Nosotros</a></li>
							<li><a href="../contacto.html">Contacto</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<!-- Main -->
			<div class="wrapper">
				<div class="container" id="main">
					<article id="content">
						<header>
							<h2>Terapia Trastorno del espectro autista (TEA)</h2>
						</header>
						<a href="#" class="image featured"><img src="../../images/pic06.jpg" alt="" /></a>
					</article>
				</div>

			<!-- Features 1 -->
				<div class="">
					<div class="container" id="main">
						<div class="row">
							<article class="col-12 col-12-narrower feature">
								<header>
									<h2>¿Qué es el TEA?</h2>
								</header>
								<p class="justificado">El trastorno del espectro autista (TEA), se puede definir como un trastorno del neurodesarrollo, presentando alteraciones en las relaciones sociales, en la comunicación y lenguaje e inflexibilidad mental y comportamental, variando cualitativamente de unas personas a otras (Barthélemy y cols., 2008).</p>
							</article>
                            <article class="col-12 col-12-narrower feature">
                                <header>
                                    <h2>Indicadores conductuales del TEA</h2>
                                    <h2>Principales señales de alerta en el desarrollo</h2>
                                </header>
                            </article>
							<article class="col-3 col-12-narrower feature">
								<header>
									<h3>De 18 a 36 meses</h3>
								</header>
								<ul class="justificado" style="line-height: 1.4em; margin-left: em;">
                                    <li>No tiene interés por otros niños/as.</li>
                                    <li>No usa juego simbólico.</li>
                                    <li>Juega de forma poco imaginativa, repetitiva o ritualista.</li>
                                    <li>No utiliza el dedo índice para señalar, para indicar interés por algo.</li>
                                    <li>No trae objetos con la intención de mostrarlos.</li>
                                    <li>Parece que no quiere compartir actividades.</li>
                                    <li>Tiende a no mirar a los ojos, cuando mira, su mirada tiende a ser corta y "de reojo".</li>
                                    <li>En ocasiones parece sordo, otras veces sensible a ciertos sonidos</li>
                                    <li>Presenta movimientos raros, como balanceos.</li>
                                </ul>
							</article>
                            <article class="col-6 col-12-narrower feature">
								<header>
									<h3>De 3 a 5 años</h3>
								</header>
								<ul class="justificado" style="line-height: 1.5em; margin-left: em;">
                                    <li>Apenas responde a las llamadas de los padres o adultos.</li>
                                    <li>Tiene dificultades para entender mensajes a través del habla.</li>
                                    <li>Empieza a hablar con retraso y no muestra interés por comunicarse de otro modo alternativo.</li>
                                    <li>Presenta dificultades para resolver los problemas propios de esas edades.</li>
                                    <li>No establece o mantiene relaciones que se exijan atención o acción conjunta.</li>
                                    <li>Presta escasa atención a lo que hacen otras personas.</li>
                                    <li>Hay determinados estímulos que les resultan intolerantes.</li>
                                    <li>Utiliza los objetos de manera funcional, sin desarrollar juego simbólico.</li>
                                    <li>Tiene dificultades para centrar la atención y presenta una gran inquietud que se traduce en correteos y deambulaciones "sin sentido".</li>
                                    <li>Presenta dificultades para entender y soportar cambios en la vida diaria.</li>
                                    <li>En algunas ocasiones, manifiesta comportamientos extraños, como correteos, conductas estereotipadas del tipo balanceos o aleteos. A veces, tiene rabietas de intensidad variable.</li>
                                </ul>
							</article>
                            <article class="col-3 col-12-narrower feature">
								<header>
									<h3>A partir de 5 años</h3>
								</header>
								<ul class="justificado" style="line-height: 1.5em; margin-left: em;">
                                    <li>Tiene dificultades para compartir intereses o juegos con otros niños/as.</li>
                                    <li>En recreos o situaciones sociales similares suele estar solo o abandonar rápidamente los juegos con otros niños/as por falta de habilidad para la comprensión de "su papel" dentro del juego.</li>
                                    <li>Presenta una presistencia inusual a realizar determinados juegos o actividades que, aun siendo propias de us edad, llaman la atención, llegando a ser incluso obsesivas.</li>
                                </ul>
							</article>
						</div>
                        <ul class="actions major">
							<li><a href="" class=""></a></li>
						</ul>
                        <div class="row">
                            <article class="col-12 col-12-narrower feature">
                                <header>
                                    <h2>¿Cómo se atiende?</h2>
                                </header>
                                <p class="justificado">Se realiza una evaluación cuidadosa, incluyendo una amplia entrevista a padres y personas cercanas al niño cuando se tiene la inquietud de que el TEA está presente. <br> Por ello, el trabajo a realizar posterior a la evaluación es, personalizado y significativo para el futuro funcionamiento diario del niño, facilitando su participación social y comunitaria.</p>
                            </article>
                        </div>
					</div>
				</div>
			</div>
			

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container alignCenter">
					<header class="major">
						<h2>Síguenos y contacta con nosotros en nuestras redes sociales</h2>
					</header>
					<div class="row">
						<!-- <section class="col-6 col-12-narrower">
							<div class="row gtr-50">
								<iframe class="col-12-mobile"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.3476253724049!2d-99.0451956304273!3d19.30885406453922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02ef8d51d4b3%3A0xd62cb5494be3477!2sSan%20Rafael%20Atlixco%20MZ74%20LT36%2C%20La%20Estaci%C3%B3n%2C%20Tl%C3%A1huac%2C%2013319%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1752270184869!5m2!1ses-419!2smx"width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</section> -->
						<section class="col-12 col-12-narrower">
							<div class="row gtr-0 alignCenter">
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/profile.php?id=61578939388057" target="_blank"><span class="extra">Facebook-</span>ESPA-Ser</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-youtube"><a href="#" target="_blank"><span class="extra">Youtube-</span>ESPA-Ser</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-instagram"><a href="https://www.instagram.com/espaser.mx/" target="_blank"><span class="extra">Instagram-</span>ESPA-Ser</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-whatsapp"><a href="https://wa.me/15532237122?text=Hola%20me%20gustaría%20mas%20información%20sobre%20el%20programa%20o%20terapia" target="_blank"><span class="extra"></span>WhatsApp</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; ESPA-SER. Todos los Derechos Reservados.</li>
						<li>Ciudad de México 2025</li>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="../../assets/js/jquery.min.js"></script>
			<script src="../../assets/js/jquery.dropotron.min.js"></script>
			<script src="../../assets/js/browser.min.js"></script>
			<script src="../../assets/js/breakpoints.min.js"></script>
			<script src="../../assets/js/util.js"></script>
			<script src="../../assets/js/main.js"></script>

	</body>
</html>