<!DOCTYPE HTML>
<html>
	<head>
		<title>Nosotros</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
	
			<!-- Header -->
		<div id="header-wrapper">
			<div id="header" class="container">
		
				<!-- Logo -->
				<h1 id="logo"><a href="/index.html">"ESPA-Ser"</a></h1>
		
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li>
							<a href="">Programas</a>
							<ul>
								<li>
									<a href="/views/Programas/palabrearte.html">Palabre-Arte</a>
									<ul>
										<li><a href="/views/Programas/elartede.html">El arte de manejar tu mundo afectivo</a>
										</li>
										<li><a href="/views/Programas/elsabor.html">El sabor de los libros</a></li>
									</ul>
								</li>
								<li><a href="/views/Programas/nivesc.html">Nivelación Escolar</a></li>
								<li><a href="/views/Programas/acompadres.html">Acompañamiento a Padres</a></li>
								<li><a href="/views/Programas/profes.html">Profesionalización</a></li>
								<li><a href="/views/Programas/prox.html">Próximamente</a></li>
							</ul>
						</li>
						<li>
							<a href="">Servicios</a>
							<ul>
								<li><a href="/views/Servicios/atn_psico.html">Atención Psicológica</a></li>
								<li><a href="/views/Servicios/prob_apdz.html">Problemas de aprendizaje</a></li>
								<li>
									<a href="">Terapias</a>
									<ul>
										<li><a href="/views/Servicios/ter_leng.html">Terapia de lenguaje</a></li>
										<li><a href="/views/Servicios/ter_leng.html">Terapia TDA-H ¡Autocontrol!</a></li>
										<li><a href="/views/Servicios/tea.html">Terapia Trastorno del espectro autista (TEA)</a></li>
									</ul>
								<li><a href="/views/Servicios/est_temp.html">Estimulación temprana <br> ¡Cuidemos su desarrollo!</a></li>
							</ul>
						</li>
					<li class="break"><a href="/views/nosotros.html">Nosotros</a></li>
					<li><a href="/views/contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>
	
			<!-- Main -->
			<div class="wrapper">
				<div class="container" id="main">
					<div class="row features">
						<section class="col-6 col-12-narrower feature">
							<div class="image-wrapper first">
								<img class="image featured" src="../images/pic03.jpg" alt="" />
								<!-- <a href="#" class="image featured"><img src="../images/pic03.jpg" alt="" /></a> -->
							</div>
							<header style="margin-top: 1.5em;">
								<h3>¿Qué es ESPA-SER?</h3>
							</header>
							<p class="justificado">Es un espacio que brinda alternativas para el desarrollo personal a
								través de
								la atención de un equipo especializado con alto sentido humano para atender problemáticas y
								necesidades de niños, adolescentes, adultos, padres de familia e instituciones educativas.
							</p>
						</section>
						<section class="col-6 col-12-narrower feature">
							<div class="image-wrapper">
								<img class="image featured" src="../images/pic05.jpg" alt="" />
								<!-- <a href="#" class="image featured"><img src="../images/pic05.jpg" alt="" /></a> -->
							</div>
							<header style="margin-top: 1.5em;">
								<h3>¿Qué ofrece ESPA-SER</h3>
							</header>
							<p class="justificado">Atención integral a niños, adolescentes, adultos, padres de familia e
								instituciones en las áreas educativa y laboral para manejar distintas problemáticas de
								acuerdo
								al contexto familiar y/o comunitario.</p>
						</section>
						<div class="container"></div>
					</div>
	
	
					<!-- Content -->
					<div class="row gtr-150">
						<div class="col-6 col-12-narrower">
							<article id="content">
								<header>
									<h2>Nuestra Misión</h2>
								</header>
								<!-- <a href="#" class="image featured"><img src="../images/pic01.jpg" alt="" /></a> -->
								<p class="justificado">Buscar el crecimiento armónico del ser, ofreciéndole espacios de
									formación, atención y servicios especializados , en los que se propicie su
									autoconocimiento
									comprometido y se incremente al máximo su potencial, para que desarrolle una mejor
									relación
									con el entorno y mayor efectividad al enfrentar sus dificultades personales, académicas,
									familiares, sociales y comunitarias.</p>
							</article>
							<article id="content">
								<header>
									<h2>Nuestra Visión</h2>
								</header>
								<!-- <a href="#" class="image featured"><img src="../images/pic01.jpg" alt="" /></a> -->
								<p class="justificado">Ser una institución interdisciplinaria de prestigio, comprometida con la investigación y la presentación de servicios de diagnostico e intervención terapéutica, brindando atención a las diferentes problemáticas actuales y promoviendo líneas de formación	educativa en los diversos ámbitos del desarrollo humano; privilegiando la calidad y la calidez , a través de la participación de su equipo de profesionales en salud, educación, cultura, grupos e instituciones.</p>
							</article>
						</div>
						<div class="col-6 col-12-narrower">
							<!-- Sidebar -->
							<section id="sidebar">
								<section class="estiloLista">
									<header>
										<h3>Modalidades</h3>
									</header>
									<ul class="estilo">
										<li>Psicoterapia individual</li>
										<li>Psicoterapia de grupo</li>
										<li>Psicoterapia de pareja</li>
										<li>Pláticas y Talleres</li>
									</ul>
								</section>
							</section>
							<section id="sidebar">
								<section class="estiloLista">
									<header>
										<h3>Orientación y apoyo Psicológico</h3>
									</header>
									<ul class="estilo">
										<li>Problemas emocionales</li>
										<li>Problemas conductuales</li>
										<li>Problemas de autoestima</li>
										<li>Rehabilitación neuropsicológica</li>
										<li>Rehabilitación neurológica</li>
										<li>Adolescencia conflictiva</li>
										<li>Conductas adictivas</li>
										<li>Trastornos depresivos</li>
									</ul>
								</section>
							</section>
						</div>
					</div>
					<ul class="actions major">
						<li><a href="" class=""></a></li>
					</ul>
					<div class="row features">
						<section class="col-4 col-12-narrower feature">
							<header>
								<h3>Testimonio 1</h3>
							</header>
							<div class="image-wrapper first">
								<a href="#" class="image featured"><img src="../images/pic03.jpg" alt="" /></a>
							</div>
							<p>Aquí vamos a poner testimonio de éxito. <br> Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit dolor neque semper magna lorem ipsum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Enlace a la terapia que tomó</a></li>
							</ul>
						</section>
						<section class="col-4 col-12-narrower feature">
							<header>
								<h3>Testimonio 2</h3>
							</header>
							<div class="image-wrapper">
								<a href="#" class="image featured"><img src="../images/pic04.jpg" alt="" /></a>
							</div>
							<p>Aquí vamos a poner testimonio de éxito. <br> Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit dolor neque semper magna lorem ipsum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Enlace a la terapia que tomó</a></li>
							</ul>
						</section>
						<section class="col-4 col-12-narrower feature">
							<header>
								<h3>Testimonio 3</h3>
							</header>
							<div class="image-wrapper">
								<a href="#" class="image featured"><img src="../images/pic05.jpg" alt="" /></a>
							</div>
							<p>Aquí vamos a poner testimonio de éxito. <br> Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit dolor neque semper magna lorem ipsum.</p>
							<ul class="actions">
								<li><a href="#" class="button">Enlace a la terapia que tomó</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
	
			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Síguenos y contacta con nosotros en nuestras redes sociales</h2>
					</header>
					<div class="row">
						<section class="col-6 col-12-narrower">
							<div class="row gtr-50">
								<iframe class="col-12-mobile"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.3476253724049!2d-99.0451956304273!3d19.30885406453922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02ef8d51d4b3%3A0xd62cb5494be3477!2sSan%20Rafael%20Atlixco%20MZ74%20LT36%2C%20La%20Estaci%C3%B3n%2C%20Tl%C3%A1huac%2C%2013319%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1752270184869!5m2!1ses-419!2smx"
									width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							<!-- <form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
							</form> -->
						</section>
						<section class="col-6 col-12-narrower alignCenter">
							<div class="row gtr-0">
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/profile.php?id=61578939388057" target="_blank"><span class="extra">Facebook-</span>ESPA-Ser</a></li>
									<li class="icon brands fa-youtube"><a href="#" target="_blank"><span class="extra">Youtube-</span>ESPA-Ser</a></li>
								</ul>
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-instagram"><a href="https://www.instagram.com/espaser.mx/" target="_blank"><span class="extra">Instagram-</span>ESPA-Ser</a></li>
									<li class="icon brands fa-whatsapp"><a href="https://wa.me/15532237122?text=Hola%20me%20gustaría%20mas%20información%20sobre%20el%20programa%20o%20terapia" target="_blank"><span class="extra"></span>WhatsApp</a></li>
									<!-- <li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
									<li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li> -->
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; ESPA-SER. Todos los Derechos Reservados.</li>
						<li>Ciudad de México 2025</li>
					</ul>
				</div>
			</div>
	
		</div>
	
		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.dropotron.min.js"></script>
		<script src="../assets/js/browser.min.js"></script>
		<script src="../assets/js/breakpoints.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/main.js"></script>
	
	</body>
</html>