<!DOCTYPE HTML>
<html>
	<head>
		<title>Servicios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div id="header" class="container">
		
				<!-- Logo -->
				<h1 id="logo"><a href="/index.html">"ESPA-Ser"</a></h1>
		
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li>
							<a href="">Programas</a>
							<ul>
								<li>
									<a href="/views/Programas/palabrearte.html">Palabre-Arte</a>
									<ul>
										<li><a href="/views/Programas/elartede.html">El arte de manejar tu mundo afectivo</a>
										</li>
										<li><a href="/views/Programas/elsabor.html">El sabor de los libros</a></li>
									</ul>
								</li>
								<li><a href="/views/Programas/nivesc.html">Nivelación Escolar</a></li>
								<li><a href="/views/Programas/acompadres.html">Acompañamiento a Padres</a></li>
								<li><a href="/views/Programas/profes.html">Profesionalización</a></li>
								<li><a href="/views/Programas/prox.html">Próximamente</a></li>
							</ul>
						</li>
						<li>
							<a href="">Servicios</a>
							<ul>
								<li><a href="/views/Servicios/atn_psico.html">Atención Psicológica</a></li>
								<li><a href="/views/Servicios/prob_apdz.html">Problemas de aprendizaje</a></li>
								<li>
									<a href="">Terapias</a>
									<ul>
										<li><a href="/views/Servicios/ter_leng.html">Terapia de lenguaje</a></li>
										<li><a href="/views/Servicios/ter_leng.html">Terapia TDA-H ¡Autocontrol!</a></li>
										<li><a href="/views/Servicios/tea.html">Terapia Trastorno del espectro autista (TEA)</a></li>
									</ul>
								<li><a href="/views/Servicios/est_temp.html">Estimulación temprana <br> ¡Cuidemos su desarrollo!</a></li>
							</ul>
						</li>
					<li class="break"><a href="/views/nosotros.html">Nosotros</a></li>
					<li><a href="/views/contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>

			<!-- Main -->
		<div class="wrapper">
			<div class="container" id="main">
				<article id="content">
					<header>
						<h2>En Espacio de Psicoterapia Alternativa "Ser"</h2>
					</header>
					<a href="#" class="image featured"><img src="../images/pic06.jpg" alt="" /></a>
					<p class="justificado">Ofrecemos una amplia gama de servicios diseñados para promover el bienestar integral de niños, adolescentes, adultos y familias. Nuestro enfoque está centrado en el ser humano y su desarrollo personal, brindando acompañamiento psicopedagógico, emocional y terapéutico para potenciar el crecimiento desde diferentes dimensiones.</p>
					<p class="justificado">Contamos con servicios especializados como diagnóstico y tratamiento de problemáticas emocionales, trastornos del aprendizaje, TDAH y TEA, así como también talleres de creatividad y expresión artística para el fortalecimiento del autoconocimiento. Además, ofrecemos programas de estimulación temprana para apoyar el neurodesarrollo en las primeras etapas de la vida. Todo ello bajo un enfoque interdisciplinario comprometido con la calidad, la calidez y el acompañamiento humano.</p>
				</article>
			</div>

			<!-- Features 1 -->
			<div class="wrapper">
				<section class="container">
					<div class="row features">
						<section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="#" class="image featured"><img src="" alt="">
								</a>
							</div>
							<header>
								<h2>Atención <br> Psicológica</h2>
							</header>
							<p class="justificado">Un espacio de reflexión y escucha en el que el terapeuta renuncia a decidir por el paciente cual es la solución de su problema (Síntoma) que lo afecta, y en el que se privilegia el trabajo del mismo paciente para descifrar el sentido de sus aflicciones. <br> <br> </p>
							<ul class="actions major">
								<li><a href="/views/Servicios/atn_psico.html" class="button">Más Información</a></li>
							</ul>
						</section>
						<section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="" class="image featured"><img src="" alt="">
								</a>
							</div>
							<header>
								<h2>Problemas de Aprendizaje</h2>
							</header>
							<p class="justificado">Se refieren a las dificultades en la escuela, la lectura, la aritmética, la memoria, la atención o la conducta, que presentan  los niños en edad escolar, que les impiden un adecuado desarrollo académico o aprovechamiento escolar. <br> <br>  </p>
							<ul class="actions major">
								<li><a href="/views/Servicios/prob_apdz.html" class="button">Más Información</a></li>
							</ul>
						</section>
						<section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="" class="image featured"><img src="" alt="">
								</a>
							</div>
							<header>
								<h2>Estimulación Temprana <br> <h3>¡Cuidemos su Desarrollo!</h3></h2>
							</header>
							<p class="justificado"> Fortalece el cuerpo y promueve el neurodesarrollo de las emociones y la inteligencia del niñ@. Tiene dos sentidos, aprovechar el gran potencial que se da en los primeros años de vida y detectar a tiempo cualquier déficit o desviación del desarrollo.</p>
							<ul class="actions major">
								<li><a href="/views/Servicios/est_temp.html" class="button">Más Información</a></li>
							</ul>
						</section>
					</div>
						<ul class="actions major">
							<li><a href="" class=""></a></li>
						</ul>
					<header class="major">
						<h2>Terapias</h2>
					</header>
					<div class="row features">
						<section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="" class="image featured"><img src="" alt=""></a>
							</div>
							<header>
								<h2>Terapia de <br> Lenguaje</h2>
							</header>
							<p class="justificado">En ocasiones el niño no presenta el desarrollo lingüístico esperado, esto se hace evidente cuando al entrar en contacto con el entorno social manifiesta dificultades en la adquisición, producción o comprensión del lenguaje. <br> <br> <br></p>
							<ul class="actions major">
								<li><a href="/views/Servicios/ter_leng.html" class="button">Más Información</a></li>
							</ul>
						</section><section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="" class="image featured"><img src="" alt=""></a>
							</div>
							<header>
								<h2>Terapia TDA-H<br><h2>¡Autocontrol!</h2></h2>
							</header>
							<p class="justificado">El trastorno por Déficit de atención con hiperactividad (TDAH), según la OMS (1992) son los principales términos usados para describir a niños que presentan serias carencias en su atención sostenida, en la modulación de su actividad y en la regulación de sus impulsos, presentando problemas en la familia o la escuela.</p>
							<ul class="actions major">
								<li><a href="/views/Servicios/tdah.html" class="button">Más Información</a></li>
							</ul>
						</section>
						<section class="col-4 col-12-narrower feature">
							<div class="image-wrapper first">
								<a href="" class="image featured"><img src="" alt="">
								</a>
							</div>
							<header>
								<h2>Terapia Transtorno del Espectro Autista (TEA)</h2>
							</header>
							<p class="justificado">El trastorno del espectro autista (TEA), se puede definir como un trastorno del neurodesarrollo, presentando alteraciones en las relaciones sociales, en la comunicación y lenguaje e inflexibilidad mental y comportamental, variando cualitativamente de unas personas a otras (Barthélemy y cols., 2008).</p>
							<ul class="actions major">
								<li><a href="/views/Servicios/tea.html" class="button">Más Información</a></li>
							</ul>
						</section>
					</div>
				</section>
			</div>
		</div>
			

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Síguenos y contacta con nosotros en nuestras redes sociales</h2>
					</header>
					<div class="row">
						<!-- <section class="col-6 col-12-narrower">
							<div class="row gtr-50">
								<iframe class="col-12-mobile"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.3476253724049!2d-99.0451956304273!3d19.30885406453922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02ef8d51d4b3%3A0xd62cb5494be3477!2sSan%20Rafael%20Atlixco%20MZ74%20LT36%2C%20La%20Estaci%C3%B3n%2C%20Tl%C3%A1huac%2C%2013319%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1752270184869!5m2!1ses-419!2smx"
									width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</section> -->
						<section class="col-12 col-12-narrower alignCenter">
							<div class="row gtr-0">
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-facebook-f">
										<a href="https://www.facebook.com/PolisioSen"><span class="extra">facebook.com/</span>EsPASER</a>
									</li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>EsPASER</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-facebook-messenger"><a href="https://m.me/PolisioSen"><span class="extra"></span>Messenger</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-whatsapp">
										<a href="https://wa.me/15532237122?text=Hola%20estoy%20probando%20el%20enlace%20para%20whatsapp"><span class="extra"></span>WhatsApp</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; ESPA-SER. Todos los Derechos Reservados.</li>
						<li>Ciudad de México 2025</li>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>