<!DOCTYPE HTML>
<html>
	<head>
		<title>Servicios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
				<div id="header" class="container">
	
					<!-- Logo -->
					<h1 id="logo"><a href="../index.html">"SER"</a></h1>
	
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li>
								<a href="talleres.html">Talleres</a>
							</li>
							<li><a href="servicios.html">Servicios</a></li>
							<li class="break"><a href="nosotros.html">Nosotros</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</nav>
	
				</div>
			</div>

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						<div class="row gtr-150">
							<div class="col-4 col-12-narrower">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<header>
												<h3>Elit sed feugiat</h3>
											</header>
											<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur et vel
											sem sit amet dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et dolore
											adipiscing elit. Curabitur vel sem sit.</p>
											<ul class="actions">
												<li><a href="#" class="button">Magna amet nullam</a></li>
											</ul>
										</section>
										<section>
											<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
											<header>
												<h3>Commodo lorem varius</h3>
											</header>
											<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur et vel
											sem sit amet dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et dolore
											adipiscing elit. Curabitur vel sem sit.</p>
											<ul class="actions">
												<li><a href="#" class="button">Ipsum sed dolor</a></li>
											</ul>
										</section>
									</section>

							</div>
							<div class="col-8 col-12-narrower imp-narrower">

								<!-- Content -->
									<article id="content">
										<header>
											<h2>Left Sidebar</h2>
											<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit
											dolor neque semper magna lorem ipsum.</p>
										</header>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<p>Ut sed tortor luctus, gravida nibh eget, volutpat odio. Proin rhoncus, sapien
										mollis luctus hendrerit, orci dui viverra metus, et cursus nulla mi sed elit. Vestibulum
										condimentum, mauris a mattis vestibulum, urna mauris cursus lorem, eu fringilla lacus
										ante non est. Nullam vitae feugiat libero, eu consequat sem. Proin tincidunt neque
										eros. Duis faucibus blandit ligula, mollis commodo risus sodales at. Sed rutrum et
										turpis vel blandit. Nullam ornare congue massa, at commodo nunc venenatis varius.
										Praesent mollis nisi at vestibulum aliquet. Sed sagittis congue urna ac consectetur.</p>
										<p>Mauris eleifend eleifend felis aliquet ornare. Vestibulum porta velit at elementum
										gravida nibh eget, volutpat odio. Proin rhoncus, sapien
										mollis luctus hendrerit, orci dui viverra metus, et cursus nulla mi sed elit. Vestibulum
										condimentum, mauris a mattis vestibulum, urna mauris cursus lorem, eu fringilla lacus
										ante non est. Nullam vitae feugiat libero, eu consequat sem. Proin tincidunt neque
										eros. Duis faucibus blandit ligula, mollis commodo risus sodales at. Sed rutrum et
										turpis vel blandit. Nullam ornare congue massa, at commodo nunc venenatis varius.
										Praesent mollis nisi at vestibulum aliquet. Sed sagittis congue urna ac consectetur.</p>
										<p>Vestibulum pellentesque posuere lorem non aliquam. Mauris eleifend eleifend
										felis aliquet ornare. Vestibulum porta velit at elementum elementum.</p>
									</article>

							</div>
						</div>
						<div class="row features">
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper first">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
								</div>
								<header>
									<h3>Dolor sit consequat magna</h3>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
								</div>
								<header>
									<h3>Dolor sit consequat magna</h3>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
								</div>
								<header>
									<h3>Dolor sit consequat magna</h3>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Síguenos y contacta con nosotros en nuestras redes sociales</h2>
					</header>
					<div class="row">
						<section class="col-6 col-12-narrower">
							<div class="row gtr-50">
								<iframe class="col-12-mobile"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.3476253724049!2d-99.0451956304273!3d19.30885406453922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02ef8d51d4b3%3A0xd62cb5494be3477!2sSan%20Rafael%20Atlixco%20MZ74%20LT36%2C%20La%20Estaci%C3%B3n%2C%20Tl%C3%A1huac%2C%2013319%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1752270184869!5m2!1ses-419!2smx"
									width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							<!-- <form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
							</form> -->
						</section>
						<section class="col-6 col-12-narrower alignCenter">
							<div class="row gtr-0">
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-facebook-f"><a
											href="https://www.facebook.com/PolisioSen"><span
												class="extra">facebook.com/</span>EsPASER</a></li>
									<li class="icon brands fa-youtube"><a href="#"><span
												class="extra">youtube.com/</span>EsPASER</a></li>
								</ul>
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-facebook-messenger"><a href="https://m.me/PolisioSen"><span
												class="extra"></span>Messenger</a></li>
									<li class="icon brands fa-whatsapp"><a
											href="https://wa.me/15532237122?text=Hola%20estoy%20probando%20el%20enlace%20para%20whatsapp"><span
												class="extra"></span>WhatsApp</a></li>
									<!-- <li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
									<li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li> -->
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; ESPA-SER. Todos los Derechos Reservados.</li>
						<li>Ciudad de México 2025</li>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>