<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>Acompañamiento a Padres</title>
		<meta name="robots" content="index, follow">
		<link rel="shortcut icon" href="../../images/favicon_.png">
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div class="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
		
				<!-- Logo -->
					<h1 id="logo"><a href="../../index.html">"ESPA-Ser"</a></h1>
		
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li>
								<a href="">Programas</a>
								<ul>
									<li>
										<a href="../Programas/palabrearte.html">Palabre-Arte</a>
										<ul>
											<li><a href="../Programas/elartede.html">El arte de manejar tu mundo afectivo</a>
											</li>
											<li><a href="../Programas/elsabor.html">El sabor de los libros</a></li>
										</ul>
									</li>
									<li><a href="../Programas/nivesc.html">Nivelación Escolar</a></li>
									<li><a href="../Programas/acompadres.html">Acompañamiento a Padres</a></li>
									<li><a href="../Programas/profes.html">Profesionalización</a></li>
									<li><a href="../Programas/prox.html">Próximamente</a></li>
								</ul>
							</li>
							<li>
								<a href="">Servicios</a>
								<ul>
									<li><a href="../Servicios/atn_psico.html">Atención Psicológica</a></li>
									<li><a href="../Servicios/prob_apdz.html">Problemas de aprendizaje</a></li>
									<li><a href="../Servicios/ter_leng.html">Terapia de lenguaje</a></li>
									<li><a href="../Servicios/tdah.html">Terapia TDA-H <br> ¡Autocontrol!</a></li>
									<li><a href="../Servicios/tea.html">Terapia Trastorno del <br> espectro autista (TEA)</a></li>
									<li><a href="../Servicios/est_temp.html">Estimulación temprana <br> ¡Cuidemos su desarrollo!</a></li>
								</ul>
							</li>
						<li class="break"><a href="../nosotros.html">Nosotros</a></li>
						<li><a href="../contacto.html">Contacto</a></li>
						</ul>
					</nav>
				</div>
		
			</div>

			<!-- Main -->

			<div class="wrapper">
				<div class="container" id="main">
					<article id="content">
						<header>
							<h2>ACOMPAÑAMIENTO A PADRES</h2>
						</header>
						<a href="" class="image featured"><img src="../../images/pic06.jpg" alt="" /></a>
					</article>
				</div>
			

			<!-- Features 1-->
				<div class="">
					<div class="container" id="main">
						<!-- <div class="row">
							<article class="col-12 col-12-narrower feature">
								<header>
									<h2> "Preescolar y Primaria"</h2>
								</header>
							</article>
						</div> -->
						<!-- <ul class="actions major"><li><a href=""></a></li></ul> -->
						<div class="row">
							<article class="col-6 col-12-narrower feature">
								<header>
									<h2>Propósito</h2>
								</header>
								<p class="justificado">Brindar espacios de reflexión y escucha que favorezcan el intercambio de experiencias entre padres y madres de familia con preocupaciones e intereses comunes.</p>
							</article>
							<article class="col-6 col-12-narrower feature">
								<header>
									<h2>Objetivo General</h2>
								</header>
								<p class="justificado">Crear espacios donde los padres y madres puedan interactuar, aprender de sus experiencias compartidas y trabajar juntos en la crianza de sus hijos a partir de conferencias y talleres que les apoyen.</p>
							</article>
						</div>
							
					</div>
				</div>
                <ul class="actions major"><li><a href=""></a></li></ul>
                <div id="footer-wrapper">
                    <div class="container" id="main">
                        <div class="row">
                            <article class="col-12 col-12-narrower feature">
                                <header>
                                    <h2>Próximo Taller</h2>
                                </header>
                                <p class="justificado"></p>
                                <header>
                                    <h2>¿Cómo podemos mejorar los caminos de la vida de nuestros adolescentes?</h2>
                                </header>
                            </article>
                        </div>
                        <ul class="actions major"><li><a href=""></a></li></ul>
                        <div class="row">
                            <article class="col-4 col-12-narrower feature">
                                <header>
                                    <h3>Presentación</h3>
                                </header>
                                <p class="justificado">Tomando en cuenta las actuales cir-cunstancias de nuestro país, de nuestra ciudad, ¿qué retos deben sortear los padres de familia para alentar los factores protectores y combatir los elementos de riesgo al formar a sus hijos adolescentes? <br><br> Los padres y madres frecuentemente suelen reconocerse con diferentes li-mitaciones para responder a las ne-cesidades propias de la edad, de la sociedad, del ambiente, de la educa-ción y/o de la cultural de sus hijos e hijas adolescentes. Parecería que les resulta indispensable un constante reaprendizaje de su función paterna o materna. <br><br> Ante esta realidad y reconociendo la relevancia que tiene para nuestra Centro de Atención, contar con la participación de la familia en la pre-vención y atención de los factores de riesgo que pueden incidir en el desa-rrollo personal y escolar de los jóve-nes. <br><br> ¿Cómo podemos mejorar los caminos de la vida de nuestros adolescentes?</p>
                            </article>
                            <article class="col-4 col-12-narrower feature"></article>
                        </div>
                    </div>
                </div>
			</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Síguenos y contacta con nosotros en nuestras redes sociales</h2>
					</header>
					<div class="row ">
						<!-- <section class="col-6 col-12-narrower">
							<div class="row gtr-50">
								<iframe class="col-12-mobile"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.3476253724049!2d-99.0451956304273!3d19.30885406453922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02ef8d51d4b3%3A0xd62cb5494be3477!2sSan%20Rafael%20Atlixco%20MZ74%20LT36%2C%20La%20Estaci%C3%B3n%2C%20Tl%C3%A1huac%2C%2013319%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1752270184869!5m2!1ses-419!2smx"width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</section> -->
						<section class="col-12 col-12-narrower">
							<div class="row gtr-0">
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/PolisioSen"><span class="extra">facebook.com/</span>EsPASER</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>EsPASER</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-facebook-messenger"><a href="https://m.me/PolisioSen"><span class="extra"></span>Messenger</a></li>
								</ul>
								<ul class="divided icons col-3 col-12-mobile">
									<li class="icon brands fa-whatsapp"><a href="https://wa.me/15532237122?text=Hola%20estoy%20probando%20el%20enlace%20para%20whatsapp"><span class="extra"></span>WhatsApp</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; ESPA-SER. Todos los Derechos Reservados.</li>
						<li>Ciudad de México 2025</li>
					</ul>
				</div>
			</div>
			
		</div>
		<script src="../../assets/js/jquery.min.js"></script>
		<script src="../../assets/js/jquery.dropotron.min.js"></script>
		<script src="../../assets/js/browser.min.js"></script>
		<script src="../../assets/js/breakpoints.min.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/main.js"></script>
	</body>
</html>